.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    text-align: center;
  }

  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .card a {
    display: block;
    margin-top: 8px;
    color: #007bff;
    text-decoration: none;
  }

  .card a:hover {
    text-decoration: underline;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}
